
img{
    width: 500px;
}

h1{
    color: yellow;
    font-family: 'Courier New', Courier, monospace
}

h2{
    color:  yellow;
    font-family: 'Courier New', Courier, monospace
}
h3{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
h4{
    color: hsla(264, 75%, 56%, 0.823);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

hr{
    font-family: 'Courier New', Courier, monospace;

}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 body{
    background-color: grey ;
 }